@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

/* Home */
.container {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    radial-gradient(transparent 30%, black 99%), 
    url(../images/calltoaction.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	padding: 50px;
    animation-delay: 1s;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 4em;
    color: white;
    padding-bottom: 20px;
}

/* Steps */
.steps-container {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
	radial-gradient(transparent 30%, black 99%), 
    url(../images/calltoactionsectionbg.webp);
    background-size: cover;
    background-repeat: none;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: left;
    justify-content: center;
    text-align: left;
}

h1 {
   font-size: 3.2em;
}

a {
    color: gray;
}


/* To Next */
.final {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    radial-gradient(transparent 30%, black 99%), 
    url(../images/incidentTransitionbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	padding: 50px;
    animation-delay: 1s;
}

.final h1 {
	font-size: 3em;
}

.final p {
	font-size: 1.8em;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: black url("../images/preloader-icon.gif") no-repeat fixed center;
    background-size: 20%;
}

.removePreloader {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
      opacity: 0;
      visibility: hidden;
    }
}

/* Media Queries */
@media (max-width: 617px) {
    .final {
        font-size: 90%;
    }
}

@media (max-width: 509px) {
    .final {
        font-size: 70%;
    }
}

@media (max-width: 466px) {
    .final {
        font-size: 60%;
    }

    .steps-container {
        font-size: 85%;
    }
}

@media (max-width: 308px) {
    .steps-container {
        font-size: 75%;
    }

    .final {
        font-size: 55%;
    }
}


